name: GNU/Linux build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: install dependencies
      run: |
        sudo apt-get install libx11-dev

    - name: build xmon
      run: make

    - uses: actions/upload-artifact@v4
      with:
        name: xmon-gnulinux
        path: xmon
